* {
    margin:0;
    padding: 0;
    font-family: poppins;
    
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width:10px;
}



header {
    background-color: #141414;
    background-position: center center;
    position: relative;
    overflow-x: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo img {
    width: 160px;
    height: auto;
    border-radius: 50%;
    margin-top:20%;
    margin-right: 20px;
}

.welcome-text{
    position: absolute;
    width:600px;
    height:300px;
    margin-left: 5%;
    text-align: center;
    top: 0;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

.welcome-text h1{
    text-align:center;
    color:#fff;
    text-transform: uppercase;
    position: relative;
    background: linear-gradient(90deg, #4a83f0, #ff4b5d);
    font-weight: bold;
    background-size: 100%;
    font-size: 55px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: flex;
    flex-direction: column;
    position: relative;
    /*animation:animate 10s linear infinite;*/
}

.welcome-text h1 span{
    font-size: 20px;
    font-weight: normal;
    background: rgb(255, 255, 255);
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: relative;
    left:0px;
    font-weight: bold;
}

@keyframes animate{
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

  
#searchInput {
    background: none;
    border:#e0e0e0 3px solid;
    border-radius: 10px;
    outline:none;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}

#searchInput::placeholder {
    color:#d7d7d7;
}


#itemList {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
  margin-top: 20px;
  position: relative;
  border-radius: 50px;
  animation: glowing-border 1s infinite alternate; /* Animation for glowing effect */
}

@keyframes glowing-border {
  0% {
      border-image: linear-gradient(to bottom right, #008ce4, #cc0077) 1; /* Start gradient */
      box-shadow: 0 0 10px rgba(0, 140, 228, 0.8), 0 0 20px rgba(204, 0, 119, 0.7); /* Initial glow */
      border-radius: 50px;
  }
  100% {
      border-image: linear-gradient(to bottom right, #cc0077, #008ce4) 1; /* End gradient */
      box-shadow: 0 0 20px rgba(0, 140, 228, 1), 0 0 30px rgba(204, 0, 119, 1); /* Enhanced glow */
      border-radius: 50px;
  }
}

#itemList::-webkit-scrollbar{
  width:0;
  background-color:rgb(66, 66, 66);
  position: relative;
  right: 100px;
}

#itemList::-webkit-scrollbar-thumb {
  background-color: rgb(138, 138, 138);
}

#itemList li {
    display: block;
    margin-bottom: 5px;
    cursor:pointer;
    color:white;  
    overflow-y: hidden;
    background:none;
    margin: auto;
    border: 3px solid black;
    line-height: 30px;
    font-size: 20px;
}

#itemList li.hide {
    display: none;
}

#info {
    background-color: #484848;
    position: absolute;
    top: 0;
    width: 15%;
    height: 15vh;
    display: none;
    border-radius: 5px;
    transition: 0.05s all;
}

#links span{
    color: #bdbdbd;
    padding: 0.3em;
    margin-left: 10px;
    margin-top: 30px;
}

#links {
    font-size: 19px;
    height: 80px;
    width: 100%;
    transition: 0.3s all;
    display: flex;
    z-index: 1000;
    position: fixed;
    background-color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about::after {
    content: '';
    position: absolute;
    height: 5px;
    top: 90%;
    width: 0;
    left: 73.5%;
    background: linear-gradient(to right, #ff6fe2, rgb(0, 52, 143));
    transition: width .2s;
}

#about:hover::after {
    width: 7%;
}

#home::after {
    content: '';
    position: absolute;
    height: 5px;
    top: 90%;
    width: 0;
    left: 65.5%;
    background: linear-gradient(to right, #37ff98, rgb(0, 52, 143));
    transition: width .2s;
}

#home:hover::after {
    width: 7%;
}


#about::after {
    content: '';
    position: absolute;
    height: 5px;
    top: 90%;
    width: 0;
    left: 73.5%;
    background: linear-gradient(to right, #ff6fe2, rgb(0, 52, 143));
    transition: width .2s;
}

#about:hover::after {
    width: 7%;
}

#name::after, #logo::after {
    content: '';
    position: absolute;
    height: 5px;
    top: 90%;
    width: 0;
    left: 19.5%;
    background: linear-gradient(to right, #ff3737, rgb(0, 52, 143));
    transition: width .2s;
}

#name:hover::after, #logo:hover::after {
    width: 15%;
}

#about:hover, #name:hover, #logo:hover, #home:hover {
    color: #fff;
    cursor: pointer;
}


#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
}

#name {
    width: 500px;
    color: #ffff;
}

#about-info {
    width: 100%;
    height: 16rem;
    background-color: rgb(50, 50, 50);
    text-align: left;
    color: #f5f5f5;
    border-radius: 50px;
    align-content: center;
    line-height: 1.5rem;
    font-size: larger;
    padding: 30px;
}
