* {
    margin:0;
    padding: 0;
    font-family: poppins;
    
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width:10px;
}



header {
    background-color: #141414;
    background-position: center center;
    position: relative;
    overflow-x: auto;
    height: 100vh;
    width: 100vw;
}


.logo img {
    width: 160px;
    height: auto;
    border-radius: 50%;
    margin-top:20%;
}

.welcome-text{
    position: absolute;
    width:600px;
    height:300px;
    margin-left: 5%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

.welcome-text h1{
    text-align:center;
    color:#fff;
    text-transform: uppercase;
    position: relative;
    background: linear-gradient(90deg, #4a83f0, #ff4b5d);
    font-weight: bold;
    background-size: 100%;
    font-size: 55px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: flex;
    flex-direction: column;
    position: relative;
    right:30px;
    /*animation:animate 10s linear infinite;*/
}

.welcome-text h1 span{
    font-size: 20px;
    font-weight: normal;
    background: rgb(223, 223, 223);
    background-size: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: relative;
    left:20px;
}

@keyframes animate{
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

  
#searchInput {
    background: none;
    border:#ababab 3px solid;
    border-radius: 10px;
    outline:none;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}

#searchInput::placeholder {
    color:#d7d7d7;
}
#e {
    margin-top: 50px;
}


#itemList {
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 74vh;
  margin-top: 20px;
  position: relative;
  left: 100%;
  bottom: 125%;
  border-radius: 50px;
  animation: glowing-border 1.5s infinite alternate; /* Animation for glowing effect */
}

@keyframes glowing-border {
  0% {
      border-image: linear-gradient(to bottom right, #008ce4, #cc0077) 1; /* Start gradient */
      box-shadow: 0 0 10px rgba(0, 140, 228, 0.7), 0 0 20px rgba(204, 0, 119, 0.7); /* Initial glow */
      border-radius: 50px;
  }
  100% {
      border-image: linear-gradient(to bottom right, #cc0077, #008ce4) 1; /* End gradient */
      box-shadow: 0 0 20px rgba(0, 140, 228, 1), 0 0 30px rgba(204, 0, 119, 1); /* Enhanced glow */
      border-radius: 50px;
  }
}

#itemList::-webkit-scrollbar{
  width:0;
  background-color:rgb(66, 66, 66);
  position: relative;
  right: 100px;
}

#itemList::-webkit-scrollbar-thumb {
  background-color: rgb(138, 138, 138);
}

#itemList li {
    display: block;
    margin-bottom: 5px;
    cursor:pointer;
    color:white;  
    overflow-y: hidden;
    background:none;
    margin: auto;
    border: 3px solid black;
    line-height: 30px;
    font-size: 20px;
}

#itemList li.hide {
    display: none;
}

#info {
    background-color: #484848;
    position: absolute;
    top: 0;
    left: 105%;
    width: 15%;
    height: 15vh;
    display: none;
    border-radius: 5px;
}
