* {
    margin:0;
    
    overflow: hidden;
}

body {
    background-image: url('images/spacePic.jpg');
}

#score {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 30px;
    margin-left: 20px;
}

#tikey{
    font-family: 'Courier New', Courier, monospace;
    color: white; 
    position: relative;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation:animate 10s linear infinite;
    font-weight: bold;
    padding-left: 20px;
    font-size: 30px;
    top:30px;
}

#windowgo {
    font-family: 'Courier New', Courier, monospace;
    color: white; 
    font-weight: lighter;
    padding-left:20px;
    position: relative;
    top:30px;
    font-size: 20px;
}

@keyframes animate{
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

#spaceShip {
    width: calc(12% + 50px);
    height: calc(12% + 50px);
    position:absolute;
    top: 70%;
    z-index: -1;
    transform: translateZ(0);
    transition: all;
    background-image: url("images/spaceship.png");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    left: 500px;
}

.enemies {
    width: 50px;
    height: 50px;
    position:absolute;
    top:30px;
    z-index: 1;
    visibility: hidden;
    pointer-events: none;
    display: none;
}

img {
    user-drag: none;  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.bullets {
    width:10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    visibility: hidden;
    position:absolute;
    bottom:0;
    z-index: 1;
}

#lost {
    background-color: #e8e8e8;
    color: #2e2e2e;;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width:50%;
    height: 15rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    margin-left: 25%;
    margin-top: 3%;
    visibility: hidden;
    
}

#lost span {
    color:#00c20d;
    font-weight: normal;
}

#lost button {
    border: solid 5px #000000;
    background-color: #242424;
    color: white;
    border-radius: 3px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    align-self:safe;
    margin-top: 20px;
    margin-right: 0px;
}

#lost button:active {
    background-color: #717171;
}

#navbar {
    width:100%;
    height: 100rem;
    position:absolute;
    z-index: 2000;
    margin: 0;
    top: 0;
    background-color:#000000e7;
    display: none;
    align-items: center;
}

#signwithgle {
    width:185px;
    height:45px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
    background-color: rgb(217, 217, 217);
    color:black;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: none;
}

#signwithgle:hover {
    background-color: rgb(74, 74, 74);
    color: azure;
}

#signwithgle img {
    position: relative;
    top: 5px;
    right:30px;
}

#signwithgle span {
    position: relative;
    right:45px;
}

#restart1 {
    width:25px;
    height:25px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    background:transparent;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: none;
}

#restart1 i:hover {
    color: rgb(109, 109, 109);
}

#restart1 i{
    color: #fff;
}

#user-highscore {
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    padding-left:20px;
    font-size: 20px;
    position: relative;
    top:20px;
}

#user-highscore span {
    padding-left:20px;
}

#user-name {
    font-family: 'Courier New', Courier, monospace;
    color: white; 
    font-weight: lighter;
    padding-left:20px;
    position: relative;
    top:10px;
    font-size: 50px;
    color: #00ffea;
}
